[user]
	name = Yoelvis Oliveros
	email = yoelvisoliveros@gmail.com
[credential]
	helper = 
  username = yoliveros
[credential "github.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[rerere]
	enable = true
[core]
	editor = nvim
