[user]
	name = yoliveros
	email = 28690224+yoliveros@users.noreply.github.com
[credential]
	helper = 
[credential "github.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[rerere]
	enable = true
[core]
	editor = nvim
