@import ".cache/wal/colors-waybar.css";

* {
  border: none;
  box-shadow: none;
  outline: none;
}

window {
  margin: 0.25rem;
  font-family: MonaspiceNe Nerd Font Mono;
  border-radius: .5rem;
  background-color: @background;
}

#outer-box {
  padding: 2rem;
  border-radius: .5rem;
  background-color: @background;
}

#input {
  margin: .25rem;
  background-color: @color8;
  color: @foreground;
}

#inner-box {
  margin: .25rem;
  background-color: @background;
}

#entry {
  margin: .15rem;
}

#entry #text {
  color: @foreground;
}

#entry:selected {
  background-color: @color6;
}

#entry:selected #text {
  color: @color7;
}

#img {
  margin: 0px .5rem;
}
